In [1]:
from shapely.geometry import Point, Polygon
import shapefile as shp
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import contextily as ctx
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("apartments.csv")
pts_col = []

for pt in df[["XCoord", "YCoord"]].itertuples():
    pts_col.append(Point(pt.XCoord, pt.YCoord))
df["geometry"] = pts_col
#df = df[["Address", "PropertyUse", "PropertyClass", "Bedrooms", "geometry", "XCoord", "YCoord"]]

df = gpd.GeoDataFrame(df)
df = df.set_crs("esri:103412")
df = df.to_crs(epsg=4326)

df = df[["Address", "PropertyUse", "PropertyClass", "Bedrooms", "geometry", "XCoord", "YCoord"]]
df.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (42,43,104,109,122) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Address,PropertyUse,PropertyClass,Bedrooms,geometry,XCoord,YCoord
0,2333 Carling Dr Unit 4,Condominium,Residential,2,POINT (-89.46093 43.02791),800650.916687,465776.525813
1,2337 Carling Dr Unit 1,Condominium,Residential,2,POINT (-89.46093 43.02791),800650.916687,465776.525813
2,2337 Carling Dr Unit 2,Condominium,Residential,2,POINT (-89.46093 43.02791),800650.916687,465776.525813
3,2337 Carling Dr Unit 3,Condominium,Residential,2,POINT (-89.46093 43.02791),800650.916687,465776.525813
4,2337 Carling Dr Unit 4,Condominium,Residential,2,POINT (-89.46093 43.02791),800650.916687,465776.525813

In [3]:
df.groupby(['PropertyClass']).count()

               Address  PropertyUse  Bedrooms  geometry  XCoord  YCoord
PropertyClass
Agricultural       783          783       783       783     783     783
Commercial        6308         6300      6308      6308    6308    6308
Industrial         119          119       119       119     119     119
Residential      73166        73151     73166     73166   73166   73166

In [4]:
df.groupby(['PropertyUse']).count()

,Address,PropertyClass,Bedrooms,geometry,XCoord,YCoord
PropertyUse,,,,,,
0 unit Apartment,2,2,2,2,2,2
10 unit Apartment,23,23,23,23,23,23
100 unit Apartment,3,3,3,3,3,3
104 unit Apartment,3,3,3,3,3,3
105 unit Apartment,2,2,2,2,2,2
...,...,...,...,...,...,...
Warehouse 1 story,127,127,127,127,127,127
Warehouse 2+ stories,8,8,8,8,8,8
"Warehouse, mini type",32,32,32,32,32,32
"Warehouse, small",20,20,20,20,20,20
Warehse cold storage,4,4,4,4,4,4

In [5]:
commercial = df[df["PropertyClass"] == "Commercial"]
commercial['Apartment'] = commercial['PropertyUse'].str.contains("Apartment")
com_apt = commercial[commercial['Apartment'] == True]
com_apt.groupby(['PropertyUse']).count()
# result: 1164 of 6308 commercial properties has 'Apartment' in it.
# why only a small portion of k12 living in apartment -> we previously exclude all these commercial apartments.

/opt/anaconda3/lib/python3.8/site-packages/geopandas/geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

,Address,PropertyClass,Bedrooms,geometry,XCoord,YCoord,Apartment
PropertyUse,,,,,,,
0 unit Apartment,2,2,2,2,2,2,2
10 unit Apartment,23,23,23,23,23,23,23
100 unit Apartment,3,3,3,3,3,3,3
104 unit Apartment,3,3,3,3,3,3,3
105 unit Apartment,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...
96 unit Apartment,3,3,3,3,3,3,3
Apartment & office,44,44,44,44,44,44,44
Apartment & store,202,202,202,202,202,202,202
Apartments,11,11,11,11,11,11,11
Apartments & rooms,10,10,10,10,10,10,10

In [6]:
commercial[commercial['PropertyUse'] == 'Apartments & rooms']

,Address,PropertyUse,PropertyClass,Bedrooms,geometry,XCoord,YCoord,Apartment
3062,2005 Monroe St,Apartments & rooms,Commercial,0,POINT (-89.41883 43.06345),811907.652579,478731.749687,True
3482,134 E Gorham St,Apartments & rooms,Commercial,0,POINT (-89.38598 43.07921),820685.627388,484476.565419,True
5218,209 E Mifflin St,Apartments & rooms,Commercial,0,POINT (-89.38269 43.07713),821564.402373,483718.529889,True
22418,127 W Gilman St,Apartments & rooms,Commercial,0,POINT (-89.39049 43.07653),819480.603663,483500.543118,True
28176,423 N Pinckney St,Apartments & rooms,Commercial,0,POINT (-89.38716 43.07898),820370.842200,484393.857290,True
44798,635 Howard Pl,Apartments & rooms,Commercial,0,POINT (-89.39462 43.07678),818377.507169,483590.716594,True
54572,12 Langdon St,Apartments & rooms,Commercial,0,POINT (-89.39065 43.07897),819437.138467,484388.403721,True
58918,45 N Orchard St,Apartments & rooms,Commercial,0,POINT (-89.40691 43.06945),815094.234032,480917.978556,True
75568,28 E Gilman St,Apartments & rooms,Commercial,0,POINT (-89.38798 43.07902),820152.099647,484405.733205,True
75574,134 W Gorham St,Apartments & rooms,Commercial,0,POINT (-89.39023 43.07621),819549.260735,483383.263565,True

In [7]:
commercial.columns

Index(['Address', 'PropertyUse', 'PropertyClass', 'Bedrooms', 'geometry',
       'XCoord', 'YCoord', 'Apartment'],
      dtype='object')

In [8]:
df[df['PropertyClass'] == 'Residential'].groupby('PropertyUse').count()

,Address,PropertyClass,Bedrooms,geometry,XCoord,YCoord
PropertyUse,,,,,,
2 Unit,3230,3230,3230,3230,3230,3230
2 unit Apartment,1,1,1,1,1,1
3 To 7 Unit,6,6,6,6,6,6
3 unit Apartment,570,570,570,570,570,570
4 unit Apartment,939,939,939,939,939,939
5 unit Apartment,126,126,126,126,126,126
6 unit Apartment,128,128,128,128,128,128
7 unit Apartment,39,39,39,39,39,39
Condominium,17029,17029,17029,17029,17029,17029
Condominium-Notation,1,1,1,1,1,1
Other,39,39,39,39,39,39
Single family,47988,47988,47988,47988,47988,47988
Vacant,3055,3055,3055,3055,3055,3055

In [9]:
vacant = df[df['PropertyUse'] == 'Vacant']
vacant

,Address,PropertyUse,PropertyClass,Bedrooms,geometry,XCoord,YCoord
24,2419 Dunns Marsh Ter,Vacant,Residential,0,POINT (-89.45832 43.02627),801347.653202,465180.119517
127,6241 Tiller Trl,Vacant,Residential,0,POINT (-89.49230 43.00778),792255.201999,458447.957399
136,3937 Manchester Rd,Vacant,Residential,0,POINT (-89.49594 43.00671),791283.168330,458057.679788
180,6417 Dylyn Dr,Vacant,Residential,0,POINT (-89.49464 43.01318),791631.706187,460414.217133
225,3710 Manchester Rd,Vacant,Residential,0,POINT (-89.49334 43.00875),791977.414021,458801.430419
...,...,...,...,...,...,...,...
80319,7701 McKee Rd,Vacant,Residential,0,POINT (-89.51984 43.01223),784891.972608,460074.186606
80332,9613 Grey Kestrel Dr,Vacant,Residential,0,POINT (-89.55397 43.02807),775770.311313,465861.517199
80346,2414 Dunns Marsh Ter,Vacant,Residential,0,POINT (-89.45904 43.02607),801155.005287,465106.033752
80349,905 Lorena Pkwy,Vacant,Residential,0,POINT (-89.36881 43.02924),825284.303967,466264.817511
80358,3027 Syene Rd,Vacant,Residential,0,POINT (-89.39426 43.03059),818477.976740,466753.581237

In [10]:
census_df = pd.read_csv("census_by_block_2010/sex_age.csv")
census_df["GEO_ID"] = census_df["GEO_ID"]
census_df = census_df[["GEO_ID", "NAME", "P012001", "P012004", "P012005", "P012006", "P012028", "P012029", "P012030"]]
census_df = census_df.rename(columns = {"NAME":"Area", "P012001": "Total_people", "P012004": "5-9yrMale", "P012005": "10-14yrMale", "P012006": "15-17yrMale", "P012028": "5-9yrFemale", "P012029": "10-14yrFemale", "P012030": "15-17yrFemale"}, inplace=False)
census_df = census_df[1:]
census_df["Total_people"] = census_df["Total_people"].astype(int)
census_df["5-9yr"] = census_df["5-9yrMale"].astype(int) + census_df["5-9yrFemale"].astype(int)
census_df["10-14yr"] = census_df["10-14yrMale"].astype(int) + census_df["10-14yrFemale"].astype(int)
census_df["15-17yr"] = census_df["15-17yrMale"].astype(int) + census_df["15-17yrFemale"].astype(int)

census_df["Total_K-12_block"] = census_df["5-9yr"] + census_df["10-14yr"] + census_df["15-17yr"]

dane = gpd.read_file("newdane/newdane.shp")
dane["GEO_ID"] = "1000000US" + dane["GEOID10"]

dane.to_crs(df.crs, inplace=True)

In [11]:
block_with_apartment = gpd.sjoin(df, dane, how="left", op="within")
merged = pd.merge(block_with_apartment, census_df, on="GEO_ID", how='inner')
pd.DataFrame(merged.groupby("GEO_ID").mean().sum())
# 2.7214 * 10^4 K-12 children in total.

                             0
Bedrooms          7.704250e+03
XCoord            2.727433e+09
YCoord            1.610486e+09
index_right       1.983005e+07
ALAND10           2.203489e+08
AWATER10          1.603691e+07
Total_people      2.298350e+05
5-9yr             1.128600e+04
10-14yr           9.993000e+03
15-17yr           5.935000e+03
Total_K-12_block  2.721400e+04

In [12]:
commercial = df[df["PropertyClass"] == "Commercial"]
commercial

,Address,PropertyUse,PropertyClass,Bedrooms,geometry,XCoord,YCoord
20,4709 Verona Rd,Commercial exempt,Commercial,0,POINT (-89.45809 43.03201),801411.932377,467273.140869
22,2218 Allied Dr,8 unit Apartment,Commercial,0,POINT (-89.45969 43.02980),800982.301653,466465.530860
23,2218 Rosenberry Rd,8 unit Apartment,Commercial,0,POINT (-89.45839 43.02956),801330.016423,466379.037780
81,902 Stewart St,Warehouse & office,Commercial,0,POINT (-89.39690 43.03041),817773.227265,466686.384756
82,809 Watson Ave,Warehouse 1 story,Commercial,0,POINT (-89.39596 43.02773),818025.208137,465712.201413
...,...,...,...,...,...,...,...
80146,6817 Chester Dr,10 unit Apartment,Commercial,0,POINT (-89.50020 43.01603),790146.824262,461454.476421
80207,18 Woodridge Ct,8 unit Apartment,Commercial,0,POINT (-89.29886 43.11466),843942.370711,497418.737406
80318,6733 Pinelake Dr,100 unit Apartment,Commercial,0,POINT (-89.50161 43.01134),789766.218195,459745.539707
80344,2102 Rosenberry Rd,8 unit Apartment,Commercial,0,POINT (-89.45829 43.03099),801356.950820,466900.026492
80359,3210 Syene Rd,M-1 vacant,Commercial,0,POINT (-89.39541 43.02744),818170.363609,465607.078815